.characterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.elemento-hijo {
    flex: 1 1 300px; 
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9; 
    border: 1px solid #00000067;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.elemento-hijo .img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.elemento-hijo h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.elemento-hijo p {
    margin: 5px 0;
    font-size: 16px;
}
